/* OUR SERVICES */
@font-face /* FONT for Timeless*/
{
    font-family: 'timeless';
    src: url('fonts/timeless.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ /* FONT for Myriad Pro */
    font-family: 'myriadpro';
    src: url('fonts/myriadpro.otf.OTF')
}
*{
  margin: 0;
  padding: 0;
}
.header{
  margin-left: 4%;
  margin-top: 4%;
}
.header h3{
  font-size: 50px;
  font-family: 'timeless';
  margin-left: 16%;
  margin-top: -12%;
  color: #494646;
}
.header h2{
  font-size: 40px;
  font-family: 'timeless';
  margin-left: 38%;
  margin-top: -8%;
  text-decoration: underline;
  color: #8F0202;
}
.daycare{
  margin-top: 10%;
}
#gray{
  width: 996px;
  height: 152;
  margin-left: 21%;
  position: relative;
}
.daycare h1{
  position: absolute;
  font-family: 'timeless';
  color: #fff;
  margin-left: 25%;
  margin-top: -15%;
}
.daycare h3{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-left: 63%;
  margin-top: -13%;
}
.daycare h4{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-left: 63%;
  margin-top: -7%;
}
#daycarepng{
  position: absolute;
  margin-left: -97%;
  margin-top: 5%;
  width: 700px;
  height: 400px;
}
#button1{
  position: relative;
  font-family: 'myriadpro';
  margin-top: 5%;
  margin-left: 60%;
}
#button1 h2{
  position: absolute;
  font-size: 42px;
  color: #fff;
  margin-left: 20%;
  margin-top: -16%;
}
#gray2{
  margin-top: 15%;
  width: 996px;
  height: 152;
  position: relative;
}
.grooming h1{
  position: absolute;
  font-family: 'timeless';
  color: #fff;
  margin-top: -15%;
  margin-left: 50%;
}
.grooming h3{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-top: -10%;
  margin-left: 8%;
}
.grooming h4{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-top: -5%;
  margin-left: 8%;
}
#groomingpng{
  position: absolute;
  margin-left: -35%;
  margin-top: 20%;
  width: 700px;
  height: 400px;
}
#button2{
  position: relative;
  font-family: 'myriadpro';
  margin-left: 2%;
  margin-top: 2%;
}
#button2 h2{
  position: absolute;
  font-size: 42px;
  color: #fff;
  margin-left: 7.5%;
  margin-top: -7%;
}
#gray3{
  position: relative;
  margin-top: 17%;
  margin-left: 21%;
  width: 996px;
  height: 152;
}
.boarding h1{
  position: absolute;
  font-family: 'timeless';
  color: #fff;
  margin-left: 25%;
  margin-top: -15%;
}
.boarding h3{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-left: 62%;
  margin-top: -13%;
}
.boarding h4{
  position: absolute;
  font-family: 'myriadpro';
  color: #FFF1DA;
  margin-left: 62%;
  margin-top: -7%;
}
#boardingpng{
  position: absolute;
  margin-left: -97%;
  margin-top: 22%;
  width: 700px;
  height: 400px;
}
#return{
  width: 170px;
  height: 40px;
  color: #990000;
  font-size: 30px;
  font-family: 'myriadpro';
  margin-left: 44.5%;
  margin-top: 15%;
  margin-bottom: 1%;
}
