/*MAPPP*/
@font-face /* FONT for Timeless*/
{
    font-family: 'timeless';
    src: url('fonts/timeless.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ /* FONT for Myriad Pro */
    font-family: 'myriadpro';
    src: url('fonts/myriadpro.otf.OTF')
}
*{
  margin: 0 0 0 0;
}
.locateus{
  position: relative;
}
#bgmap{
  position: relative;
  margin-top: 5%;
  width: 1230px;
  height: 650px;
}
.locateus h3{
  margin: -54% 0% 0% 10%;
  font-size: 60px;
  font-family: 'timeless';
  position: absolute;
}
#locsign{
  margin: 3% 0% 0% -93%;
  position: absolute;
}
#logo3{
  margin: 10% 0% 0% -50%;
  position: absolute;
}
.locateus h2{
  font-size: 50px;
  font-family: 'timeless';
  margin: -45% 0% 0% 65%;
  color: #494646;
  position: absolute;
}
.locateus h4{
  font-size: 110%;
  font-family: 'myriadpro';
  margin: -35% 0% 0% 65%;
  letter-spacing: -1px;
  word-spacing: 3px;
  color: #494646;
  position: absolute;
}
#map{
  margin: -20% 0% 0% 27%;
  position: absolute;
}
#return{
  width: 180px;
  height: 40px;
  color: #990000;
  font-size: 30px;
  font-family: 'myriadpro';
  margin-left: 44.5%;
  margin-top: 20%;
  margin-bottom: 2%;
}
