/* DEVELOPERS */
@font-face /* FONT for Timeless*/
{
    font-family: 'timeless';
    src: url('fonts/timeless.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ /* FONT for Myriad Pro */
    font-family: 'myriadpro';
    src: url('fonts/myriadpro.otf.OTF')
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* the development team */
h1{
  font-weight: lighter;
  text-decoration: underline;
  color: #ffffff;
  font-size: 55px;
  position: absolute;
  left: 355px;
  top: 0px;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #990000;
}
#return{
  width: 170px;
  height: 40px;
  color: #990000;
  font-size: 30px;
  font-family: 'myriadpro';
  margin-left: 44.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.swiper{
  width: 80%;
  height: fit-content;
}
.swiper-slide img{
  width: 100%;
}
