/* COMMUNITY */
@font-face /* FONT for Timeless*/
{
    font-family: 'timeless';
    src: url('fonts/timeless.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{ /* FONT for Myriad Pro */
    font-family: 'myriadpro';
    src: url('fonts/myriadpro.otf.OTF')
}
.comm{
  position: relative;
}
#blck2{
  position: absolute;
  margin-top: 8%;
  margin-left: 12%;
  width: 1000px;
  height: auto;
}
#dogcat{
  position: absolute;
  margin-top: 8%;
  margin-left: 12%;
  width: 1000px;
  height: auto;
}
#blck1{
  position: absolute;
  margin: 33% 0% 0% 25%;
  height: 300px;
  width: 650px;
}
#cats{
  position: absolute;
  margin: 33% 0% 0% 25%;
  height: 300px;
  width: 650px;
}
#logo5{
  position: absolute;
  margin: 10% 0% 0% 62%;
}
.comm h1{
  position: absolute;
  font-size: 49px;
  color: #8F0202;
  margin: 2% 0% 0% 13%;
}
.comm h2{
  position: absolute;
  font-size: 50px;
  font-family: 'timeless';
  margin: 10% 0% 0% 75%;
  color: #fff;
}
.comm h6{
  position: absolute;
  font-size: 22px;
  font-family: 'myriadpro';
  font-weight: lighter;
  margin: 20% 0% 0% 75%;
  color: #fff;
  font-stretch: expanded;
}
.comm p{
  position: absolute;
  font-size: 25px;
  font-family: 'myriadpro';
  margin: 10% 0% 0% 16%;
  color: #fff;
  word-spacing: 2px;
}
.comm h4{
  position: absolute;
  font-size: 20px;
  font-family: 'myriadpro';
  margin: 25% 0% 0% 37%;
  color: #fff;
  text-decoration: underline;
  word-spacing: 6px;
}
#extend{
  position: absolute;
  font-size: 35px;
  font-family: 'timeless';
  margin: 40% 0% 0% 40%;
  color: #fff;
  word-spacing: 2px;
  text-align: right;
}
#rd3{
  position: absolute;
  margin: 50% 0% 0% 50%;
  width: 300px;
  height: 79px;
}
#donate{
  position: absolute;
  margin: 50% 0% 0% 52%;
}
#donate, a{
  text-decoration: none;
}
#donate {
  color: #fff;
  font-size: 60px;
  font-family: 'timeless';
}
#return{
  width: 180px;
  height: 40px;
  color: #990000;
  font-size: 30px;
  font-family: 'myriadpro';
  margin-left: 44.5%;
  margin-top: 62%;
  margin-bottom: 1%;
}
