body{
margin-left: 0;
margin-top: 0;
margin-right: 0;
min-width: auto;
}
homep{
  position: relative;
}
homep img{
  min-height: auto;
}
#logo{
  position: absolute;
  margin-left: 5%;
  margin-top: 3%;
}
#vector{
  position: absolute;
  margin-left: 69%;
  margin-top: 3%;
}
#glow{
  position: absolute;
  margin-left: 33%;
}

/* links and express delivery*/
#exdel{
  position: absolute;
  color: #3d2514;
  font-family: 'Montserrat', sans-serif;
  margin-left: 72.5%;
  margin-top: 4%;
}
ul{
  position: absolute;
  margin-left: 53%;
  margin-top: 8%;
}
a{
  text-decoration: none;
  color: #3d2514;
}
li{
  display: inline;
  padding: 0px 20px;
  color: #3d2514;
  letter-spacing: 3px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  font-stretch: extra-condensed;
}

/* fries, burger, coke together*/
.hpics{
  position: absolute;
  border: 0px;
  width: 680px;
  height: 613px;
  margin-top: 10%;
  margin-left: 45%;
}
#drnks{
  position: relative;
  margin-left: 73%;
  margin-top: -85%;
}
#ffries{
  position: relative;
  margin-top: 23%;
  margin-left: 0%;
}
#burg1{
  position: absolute;
  margin-left: -73%;
  margin-top: -45%;
}
#shdw1{
  position: absolute;
  margin-top: 50%;
  margin-left: 58%;
}
#shdw2{
  position: absolute;
  margin-top: 46%;
  margin-left: 73%;
  float: right;
}

/*price*/
.price{
  position: absolute;
  margin-left: 50%;
  margin-top: 42%;
}
#ell5{
  position: absolute;
  margin-left: 6.5%;
  margin-top: 8%;
}
#five{
  position: absolute;
  font-size: 68px;
  color: #ffffff;
  margin-left: 53%;
  margin-top: 44%;
  font-stretch: extra-condensed;
  font-family: 'Bebas Neue', cursive;
}
#cents{
  position: absolute;
  font-size: 35px;
  color: #ffffff;
  margin-left: 810px;
  margin-top: 660px;
  font-family: 'Bebas Neue', cursive;
}
#only{
  position: absolute;
  font-size: 35px;
  color: #ffffff;
  margin-left: 755px;
  margin-top: 49.5%;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
}

/*tagline and big week*/
.tagline{
  position: absolute;
  border: 2px dashed black;
  width: 580px;
  height: 50px;
  margin-top: 15%;
  margin-left: 5%;
}
#tagline{
  position: absolute;
  font-size: 20px;
  font-stretch: condensed;
  color: #3d2514;
  margin-top: 16%;
  margin-left: 6%;
}
#bweek{
  position: absolute;
  font-size: 90px;
  color: #3d2514;
  font-stretch: condensed;
  text-shadow: 3px 3px #fee8bc;
  font-family: 'Alfa Slab One', cursive;
  margin-top: 19%;
  margin-left: 6%;
  letter-spacing: 2px;
}
#bweek2{
  position: absolute;
  font-size: 70px;
  color: #3d2514;
  font-stretch: condensed;
  text-shadow: 3px 3px #fee8bc;
  font-family: 'Alfa Slab One', cursive;
  margin-top: 26%;
  margin-left: 6%;
  letter-spacing: 2px;
}

/*try burgers*/
#tryit1{
  position: relative;
  margin-left: 6%;
  margin-top: 5%;
}
#popular{
  position: absolute;
  float: right;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 20px;
}
.tryit2{
  position: relative;
  margin-left: 53%;
  margin-top: -30%;
}
#fun{
  position: absolute;
  float: right;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 20px;
}
.tryit3{
  position: relative;
  margin-left: 53%;
  margin-top: 3%;
}
#fresh{
  position: absolute;
  float: right;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-left: 20px;
}

/*order*/
.tasty{
  position: relative;
  margin-top: 5%;
  margin-left: 42%;
}
#always{
  position: absolute;
  color: #3d2514;
  font-size: 25px;
  font-stretch: extra-condensed;
  font-family: 'Bebas Neue', cursive;
  margin-top: 11px;
  margin-left: 25px;
  font-weight: lighter;
}
#choose{
  color: #3d2514;
  margin-top: 1%;
  text-align: center;
  font-size: 280%;
  font-family: 'Alfa Slab One', cursive;
}
p{
  margin-top: 1%;
  text-align: center;
  color: #3d2514;
  font-size: 120%;
  font-family: 'Montserrat', sans-serif;
}
.ordernow{
  margin-top: 3%;
}
#order1{
  padding-left: 3%;
}
#order2{
    padding-left: 10%;
    padding-right: 8%;
}
#o1shdw{
  margin-left: 3%;
}
#o2shdw{
  margin-left: 8%;
  margin-right: 8%;
}
.loremclass{
  font-size: 50px;
  font-stretch: condensed;
  font-family: sans-serif;
}
#lorem1{
  margin-top: 0%;
  margin-left: 5%;
  font-size: 45px;
  color: #3d2514;
  font-family: 'Bebas Neue', cursive;
}
#lorem2{
  margin-top: -11.5%;
  margin-left: 40%;
  font-size: 45px;
  color: #3d2514;
  font-family: 'Bebas Neue', cursive;
}
#lorem3{
  margin-top: -11.5%;
  margin-left: 75%;
  font-size: 45px;
  color: #3d2514;
  font-family: 'Bebas Neue', cursive;
}

/*ORDER LINK 1*/
#ldesc1sec{
  border: 0px;
  width: 400px;
  height: 200px;
  margin-left: 2%;
  margin-top: 4%;
  position: relative;
}
#ldesc1{
  font-size: 17px;
  margin-top: -22%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #3d2514;
}
#imgdesc1{
  position: absolute;
  margin-left: 19%;
}
#orderlink1{
  position: absolute;
  margin-left: 22%;
  margin-top: 3%;
  font-size: 23px;
  color: #ffffff;
  font-family: 'Alfa Slab One', cursive;
}

/*ORDER LINK 2*/
#ldesc2sec{
  border: 0px;
  width: 400px;
  height: 200px;
  margin-left: 36%;
  margin-top: -14%;
  position: relative;
}
#ldesc2{
  font-size: 17px;
  margin-top: 0%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #3d2514;
}
#imgdesc2{
  position: absolute;
  margin-left: 21%;
}
#orderlink2{
  position: absolute;
  margin-left: 24%;
  margin-top: 3%;
  font-size: 23px;
  color: #ffffff;
  font-family: 'Alfa Slab One', cursive;
}

/*ORDER LINK 3*/
#ldesc3sec{
  border: 0px;
  width: 400px;
  height: 200px;
  margin-left: 70%;
  margin-top: -15%;
  position: relative;
}
#ldesc3{
  font-size: 17px;
  margin-top: 4%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #3d2514;
}
#imgdesc3{
  position: absolute;
  margin-left: 24%;
}
#orderlink3{
  position: absolute;
  margin-left: 27%;
  margin-top: 3.5%;
  font-size: 23px;
  color: #ffffff;
  font-family: 'Alfa Slab One', cursive;
}

/* UPCOMING EVENTS  */
.discover
{
  width: 95%;
  height: 100vh;
  background-image: url('img/whitebg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  margin-left: 65px;
  position: absolute;
}

.discover h5
{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  color: #3d2514;
  margin-left: 60px;
  margin-top: 100px;
}

.discover h1
{
  white-space: nowrap;
  font-size: 45px;
  font-family: 'Alfa Slab One', cursive;
  color: #3d2514;
  margin-left: 60px;
  margin-top: 130px;
  position: absolute;
}

.discover p
{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #3d2514;
  text-align: left;
  margin-left: 60px;
  margin-top: 250px;
  position: absolute;
}

#photo-display
{
  width: 600px;
  position: absolute;
  float: left;
  margin-left: 655px;
  margin-top: 150px;
}

.ellipses
{
  display: inline;
  align-self: center;
  margin-left: 140px;
  margin-top: 550px;
  position: absolute;
}

/* RESERVATION */
.container
{
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 338px;
  top: 380%;
}

.container h2
{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: #3d2514;
}

.container h1
{
  font-size: 50px;
  font-family: 'Alfa Slab One', cursive;
  color: #3d2514;
}

.contact
{
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777
}

.col1
{
  padding bottom: 15px;
  float: left;
}

.form-control
{
  border-radius: 0px;
  border-width: thin;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.form-group input
{
  width: 320px;
  height: 35px;
  margin-left: 15px;
  margin-top: 30px;
  border-radius: 5px;
  align-items: center;
}

.col2
{
  padding: 0;
  float: right;
}

::placeholder
{
  font-family: 'Oswald', sans-serif;
  color: #4f4f4f
}

.btn
{
  width: 365px;
  height: 45px;
  font-size: 20px;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  background-color: #df1b1c;
  border: none;
  border-radius: 5px;
}

.click-button
{
  padding-top: 30px;
  padding-left: 15px;
}

#burger
{
  width: 250px;
  position: absolute;
  margin-left: 0;
  margin-top: 620px;
}

#bottle
{
  width: 220px;
  position: absolute;
  margin-left: 90px;
  margin-top: 780px;
}

#set
{
  width: 290px;
  position: absolute;
  margin-left: 1135px;
  margin-top: 750px;
}

/* OUR STORY & CONTACT US */
.footer
{
  width: 100%;
  height: 100vh;
  margin-top: 1200px;
  margin-left: 40px;
  position: absolute;
}

#background
{
  width: 95%;
  margin-top: 1200px;
  padding-left: 35px;
  position: absolute;
}

#text
{
  position: absolute;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-align: left;
  margin-top: 1420px;
  padding-left: 108px;
}

#logoL
{
  position: absolute;
  width: 450px;
  margin-top: 1270px;
  margin-left: 100px;
}

#loc
{
  position: absolute;
  width: 30px;
  margin-top: 1445px;
  margin-left: 940px;
}

#email
{
  position: absolute;
  width: 30px;
  margin-top: 1490px;
  margin-left: 940px;
}

#contact h1
{
  position: absolute;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  margin-top: 1450px;
  margin-left: 980px;
}

#contact h2
{
  position: absolute;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  margin-top: 1490px;
  margin-left: 980px;
}

.socmed
{
  position: absolute;
  display: inline;
  align-self: center;
  margin-left: 1230px;
  margin-top: 1650px;
}

.c h1
{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-stretch: extra-condensed;
  margin-top: 1650px;
  margin-left: 85px;
  position: absolute;
}

.space h1
{
  margin-top: 1800px;
}
